footer(class="flex justify-around text-center bg-gray-800 text-[#9a9a9a] pt-14 pb-14 border-t-2 border-[#33333333]")
    div(class="flex justify-around")
        img(src="/img/anhar\ albasra\ logo\ 2.png", class="w-16", srcset="")
        img(src="/img/alluwlwa-white-icon.svg", class="w-16 ")
    div
        p &copy; 2024 أنهار البصرة
        p code with love by codoba team
    div
    

    // روابط JavaScript
    //- script(src="/scripts.js")